[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==3.2"
djangorestframework = "*"
django-cors-headers = "*"
dj-database-url = "*"
cloudinary = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
