*{
  margin: 0;
  
}
.App {
  margin: 0;
}
.navbar-brand
{
  font-size: 3em;
  font-weight: 700;
  color: aqua;
}
.navbar li a
{
  text-decoration: none;
  color: black;
  background-color: rgb(223, 221, 221);
  border-radius: 5px;
  padding: 5px 10px;
}
.MainContainer
{
  min-height: 90vh;
}



/*  */

.dropzone {
  text-align: center;
  padding: 3em 5em;
  border: 3px dashed #646363;
  background-color: #ebebeb;
  color: #5b5555;
  cursor: pointer;
  margin-bottom: 20px;
}
.selected-file-wrapper {
  text-align: center;
}
.selected-file {
  color: #000; 
  font-weight: bold;
}


.user_messages
{
  position:absolute;
  top:3em;
  right:2em;
}